input[type="text"]{
	margin-top: 1px;
	width: 100%;
	border-radius: 20px;
}
.mui-bar-nav{
	background: #303030;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.mui-slider-indicator{
	background: #303030;
}
.mui-slider-indicator.mui-segmented-control{
	color: gray;
	position: fixed;
	top: 44px;
}
.mui-content{
	background: #303030;
}
.mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
	background-color: #C70C0C;
	position: absolute;
	top: 38px;
}
.mui-slider .mui-slider-group{
	margin-top: 40px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #C70C0C;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item{
	border-top: none;
}
.mui-slider.pic{
	margin-top: -40px;
}
.mui-grid-view.mui-grid-9.under-pic{
	margin-top: -8px;
	z-index: 2;
	background: #303030;
	border: none;
	border-bottom: 1px solid gray;
}
.mui-grid-view.mui-grid-9.under-pic .mui-table-view-cell {
    padding-top: 0;
    border: none;
}
.mui-table-view.mui-grid-view.under-pic .mui-table-view-cell .mui-media-body{
	color: gray;
}
.mui-slider-indicator.mui-segmented-control{
	z-index: 10;
}
.mui-slider-indicator{
	z-index: 9;
}
.mui-grid-view.mui-grid-9.under-pic .mui-icon{
	display: inline-block;
	height: 60px;
	width: 60px;
	border: 1px solid gray;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
}
.mui-table-view{
	background: #303030;
}
.mui-table-view.mui-grid-view{
	padding: 0;
}
.mui-table-view.mui-grid-view.under-gird .mui-table-view-cell{
	padding: 2px;
	box-sizing:content-box;
}
.mui-table-view.mui-grid-view.under-gird .mui-media-body{
	color: white;
}
.mui-table-view.mui-grid-view.under-gird2 .mui-table-view-cell{
	padding: 2px;
	box-sizing:content-box;
}
.mui-table-view.mui-grid-view.under-gird2 .mui-media-body{
	color: white;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: #BE0B0B;
}
.mui-bar{
	background: #303030;
}
.mui-table-view-cell > a:not(.mui-btn){
	color: #808080;
}
.mui-table-view .vertical{
	display: inline-block;
	height: 35%;
	width: 3px;
	top: 14px;
	background: #BE0B0B;
	position: absolute;
}

.mui-navigate-right:after, .mui-push-right:after{
	content: '';
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	height: 30px;
	line-height: 13px;
	font-size: 10px;
	margin-top: 0;
	word-break: break-all;
	white-space:normal;
	text-overflow: clip;
	padding: 0 0px 0 20px;
	text-align: left;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object{
	padding-right: 2px;
}
.mui-table-view.mui-grid-view.new .mui-table-view-cell .mui-media-body{
	height: 30px;
	line-height: 13px;
	font-size: 10px;
	margin-top: 0;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mui-table-view.mui-grid-view.new .mui-table-view-cell .mui-media-body p{
	font-size: 7px;
	line-height: 20px;
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object.bigPic{
	height: 200px;
}
