.mui-bar{
	background: #1E1E20;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.mui-bar .mui-title{
	color: white;
}
.mui-bar.mui-bar-nav span{
	display: inline-block;
	height: 44px;
	line-height: 44px;
	color: #A1A1A2;
}
.mui-bar span.right{
	position: absolute;
	top: 0;
	right: 10px;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: #BE0B0B;
}
.mui-content>.mui-table-view:first-child{
	margin-top: 0;
}
.mui-content{
	background: #232226;
}
.mui-table-view{
	background: #232226;
}
.mui-content .mui-table-view .mui-table-view-cell .iconfont{
	color: #CCCCCD;
	margin-right: 12px;
}
.mui-content .mui-table-view .mui-table-view-cell .music-amount{
	float: right;
	margin-right: 20px;
	font-size: 11px;
	margin-top: 2px;
	color: #363639;
}
.mui-table-view-cell>a:not(.mui-btn){
	color: #868687;
}
.mui-table-view-cell:after{
	left: 50px;
}
.mui-table-view:after{
	height: 0;
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
	color: #363639;
}
.mui-table-view:before{
	height: 0;
}
.acco .mui-table-view-cell:after{
	height: 0;
}
.acco .mui-navigate-right:after{
	left: 17px;
}
.acco .mui-table-view-cell{
	padding: 0;
}
.acco .mui-table-view-cell>a:not(.mui-btn){
	padding: 0;
	padding-left: 37px;
	margin: 0;
	font-size: 9px;
	line-height: 25px;
	background: #262529;
}
.mui-table-view-cell.mui-collapse>.mui-navigate-right:after{
	content: '\e583';
}
.mui-table-view-cell.fold>.mui-navigate-right:after{
	content: '\e583';
}
.mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after{
	content: '\e581';
}
.mui-table-view-cell.fold.mui-active>.mui-navigate-right:after{
	content: '\e581';
}
.mui-table-view-cell.mui-collapse .mui-collapse-content{
	margin: 0;
	padding: 0;
	background: #232226;
}
.mui-table-view-cell.mui-collapse .mui-table-view{
	margin: 0;
	background: #232226;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell{
	padding-left: 0;
	background: #232226;
}
.acco .accoin .mui-table-view-cell>a:not(.mui-btn){
	background: #232226;
	padding-left: 5px;
}
.mui-table-view .mui-media-object.mui-pull-left{
	margin-top: 3px;
	margin-left: 8px;
	height: 50px;
	max-width: none;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after{
	background: #363639;
	left: 70px;
}
.mui-table-view-cell p{
	margin-top: 5px;
}
.acco .accoin span{
	color: #363639;
	font-size: 9px;
}
body{
	background: #232226;
}
.mui-table-view-cell.fold.mui-active .mui-collapse-content{
	display: block;
}
.mui-table-view-cell.fold .mui-collapse-content{
	display: none;
}
.acco .fold .mui-table-view-cell:after{
	height: 1px;
	left: 70px;
}
