.top-nav li:hover{
	cursor: pointer;
}
.top-nav .website li:hover a{
	color: #FF7900;
}
.top-nav .website li:first-child:hover a{
	color: black;
}
.top-nav .enter li:hover {
	background: white;
}
.top-nav .enter li:nth-child(2):hover a,
.top-nav .enter li:nth-child(3):hover a {
	color: #FF7900;
}
.top-nav .enter li a .iconfont{
	transition: all 1s; 
	display: block;
	float: right;
	-webkit-transform-origin: center 16px;
}
.top-nav .enter li:hover a .iconfont{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.top-nav .enter li .show div:hover{
	background: #F8F8F8;
}
.bajie-icon .close:hover{
	cursor: pointer;
	color: #ff6901;
}
.top-nav .enter li .website-nav li{
	cursor: pointer;
}
.top-nav .enter li .website-nav li:hover a{
	color: #ff7900;
}
.search .city:hover .name{
	color: #FFCA8D;
}
.search .city:hover .name .iconfont{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	color: #ff6901;
}
.search .city .city-list .hot-city .hot-city-list li:hover a{
	color: #ff7900;
}
.search .search-box .sort{
	cursor: pointer;
}
.more-search-box .more-search:hover{
	background: gainsboro;
	cursor: pointer;
}
.more-search-box .more-search:first-child:hover{
	background: transparent;
}
.search .search-box ul li:hover a{
	text-decoration: underline;
}
.search .search-box .zhubajie:hover{
	background: #ff6901 !important;
	color: white !important;
}
.search .search-box .tianpengwang:hover{
	background: #DE352F !important;
	color: white !important;
}
.nav-detail-list a:hover{
	color: #E7AE83 !important;
}
.nav .left-nav .ul-content:hover{
	background: white;
}
.nav .left-nav .ul-content .content-ul li a:hover{
	text-decoration: underline;
}
.nav .left-nav .ul-content:hover .content-ul li a{
	color: #ff5931;
}
.nav .left-nav .ul-content:hover .content-ul li{
	transition: margin-left 0.5s;
}
.nav .left-nav .ul-content:hover .content-ul li:first-child{
	margin-left: -5px;
}
.nav .left-nav .ul-content .cover{
	position: absolute;
	left: 194px;
	color: #ff5931;
	top: 72px;
}
.nav .left-nav .ul-content .cover .iconfont{
	font-size: 12px;
	line-height: 12px;
	display: block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
