{% extends 'layout.html' %}
{% block title %}编辑文章{% endblock %}
{% block bActive %}active{% endblock %}
{% block content %}
        <section class="content-header">
            <h1>
                发布文章
            </h1>
            <!--<ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li><a href="#">Forms</a></li>
              <li class="active">Editors</li>
            </ol>-->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                {% for item in change %}
                <div class="col-md-12">
                    <div id="blogPublic" class="box box-info">
                        <div class="box-header form-group">
                            <input type="text" class="form-control" name="" id="" value="{{ item.tit }}" placeholder="请输入文章标题"/>
                            <br />
                            <input type="text" class="form-control" name="" id="" value="{{ item.author }}" placeholder="请输入作者名称"/>
                            <br />
                            <input type="text" class="form-control" name="" id="" value="{{ item.time }}" placeholder="请输入发布时间"/>
                            <br />
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body pad">
                <textarea id="editor1" name="editor1" rows="10" cols="80"  class="col-xs-12">{{ item.detail }}</textarea>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" id-data="{{ item._id.toString() }}" id="changeText">确认发布</button>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /.box -->

                </div>
                <!-- /.col-->
            </div>
            <!-- ./row -->
        </section>
{% endblock %}