.iconfont.icon-wodekecheng,
.iconfont.icon-suishouji2{
	color: #0fb3ff;
}
.fl{
	position: absolute;
	top: 12px;
	left: 32px;
	line-height: 48px;
}
.iconfont.icon-shizhanjiaoxue{
	color: #fb9d29;
}
.iconfont.icon-tiwen{
	color: #15cf84;
}
.mui-bar.mui-bar-nav{
	height: 80px;
	background-color: #333949;
	padding-right: 30px;
	padding-left: 30px;
	line-height: 80px;
	color: white;
}
.mui-bar.mui-bar-nav .iconfont{
	font-size: 20px;
	float: right;
	margin-left: 38px;
	position: relative;
	cursor: pointer;
}
.mui-bar.mui-bar-nav p{
	color: white;
	font-size: 23px;
	margin-bottom: 0;
	cursor: pointer;
	letter-spacing: 1px;
	display: inline-block;
}
.mui-bar-nav ~ .mui-content{
	padding-top: 80px;
}
.mui-content > .mui-table-view:first-child{
	margin-top: 0px;
}
.mui-table-view{
	border-bottom: 0;
}
.mui-table-view-cell.first{
	padding: 33px 20px 0;
}
.mui-table-view-cell > a:not(.mui-btn){
	padding-left: 30px;
}
.mui-table-view .mui-media-object {
    line-height: 80px;
    max-width: 80px;
    height: 80px;
    border-radius: 40px;
}
.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: 20px;
}
.mui-table-view .mui-media, .mui-table-view .mui-media-body{
	line-height: 48px;
	font-weight: bold;
}
.mui-table-view .mui-media, .mui-table-view .mui-media-body p{
	line-height: 15px;
	font-weight: normal;
	
}
.column{
	padding: 20px 0px;
	background: white;
	margin-top: 50px;
	border-top: 0;
}
.column ul{
	overflow: hidden;
}
.column ul li{
	float: left;
	width: 33.3%;
	text-align: center;
	font-size: 13px;
	border-right: 1px solid gainsboro;
	line-height: 20px;
}
.column ul li:last-child{
	border-right: 0;
}
.mui-grid-view.mui-grid-9{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 0;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border: 0;
	padding: 20px 15px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	line-height: 17px;
	margin-top: 15px;
}
.mui-table-view{
	margin-bottom: 10px;
}
.mui-table-view::before{
	height: 0px;
}
.mui-table-view-cell::after{
	height: 0px;
}

.iconfont.fl{
	color: #757a80;
}
.mui-table-view-cell.second{
	height: ;
}
.mui-table-view-cell.second .iconfont{
	font-size: 22px;
	line-height: 48px;
}
.mui-table-view-cell.second a{
	line-height: 48px;
	padding-left: 84px;
}
.mui-bar-tab ~ .mui-content {
    padding-bottom: 70px;
}
.mui-bar-tab{
	height: 70px;
	background-color: white;
}
.mui-bar-tab .mui-tab-item .mui-icon{
	height: 35px;
	width: 35px;
}
.mui-bar .mui-icon{
	font-size: 35px;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label{
	font-size: 15px;
	margin-top: 8px;
}
.iconfont .mui-badge {
    font-size: 12px;
    line-height: 1;
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    top: 26px;
    right: -10px;
    color: white;
    border-radius: 100px;
    background-color: red;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: #F6324E;
}
